<mat-card>
  <mat-card-title>Search for Flights</mat-card-title>
  <mat-card-content>
    <form #form="ngForm">
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="from"
          name="from"
          placeholder="from"
          required
          minlength="3"
          maxlength="20"
          pattern="[a-zA-Z]*"
          city="Graz,Hamburg,Wien">
        <mat-error
          *ngIf="form?.controls['from']?.hasError('required')">
          required error</mat-error>
        <mat-error
          *ngIf="form?.controls['from']?.hasError('minlength')">
          minlength error</mat-error>
        <mat-error
          *ngIf="form?.controls['from']?.hasError('pattern')">
          pattern error</mat-error>
        <mat-error
          *ngIf="form?.controls['from']?.hasError('city')">
          city error</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="to"
          name="to"
          placeholder="to">
      </mat-form-field>

      <pre>{{ form?.controls['from']?.errors | json }}</pre>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      (click)="search()"
      [disabled]="form?.invalid"
      color="primary">Search</button>
    <button
      mat-raised-button
      (click)="logFilter('mein Flug')"
      color="primary">Log Filter</button>
  </mat-card-actions>
</mat-card>

<div class="row">
    <div *ngFor="let f of flights" 
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-flight-card
        [item]="f"
        [(selected)]="basket[f.id]">
      <!-- <app-flight-card
        [item]="f"
        [selected]="basket[f.id]"
        (selectedChange)="basket[f.id] = $event"> -->
        <h3 class="top">Flight</h3>
        <pre class="bottom">{{ f | json }}</pre>
      </app-flight-card>
    </div>
</div>

<mat-card *ngIf="showBasket">
  <pre>{{ basket | json }}</pre>
</mat-card>